<img src="https://docs.google.com/uc?id=14xeXxFrVRjvOoUYWn_GuyE-v84wVzrqr" class="img-fluid" alt="CLRWY" width="400" height="200">

<h1><p style="text-align: center; color:darkblue">Python Session-11 <br> 26 Oct 2022</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:150%; text-align:center; border-radius:10px 10px;"><br><br>Definition&Creating a Set<br><br>Main Operations with Sets<br><br>Conditional Statemenst - IF Statements</p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Definition&Creating a Set</p>

* No repetition
* Math operations (union, intersection, difference)
* Unordered elements

### To create a set
    * {} or
    * set()
    
**Look for the meaning: mutable - immutable - hashable - iterable**

In [ ]:
colors = "red", "blue", "pink", "red", "white", "blue", "purple"
set(colors)

In [ ]:
empty_set1 = {}  # Bos kume olusturmaz. Dict olusturur
print(type(empty_set1))

empty_set2 = set()
print(type(empty_set2))

In [ ]:
flower_list = ['rose', 'orchid', 'violet', 'rose', 'orchid', 'rose']
flowerset = set(flower_list)
flowerlist = list(flowerset)

print(flowerset)
print(flowerlist)

In [ ]:
ilk_kumem = {1, 1, 2, 0, 1}
ilk_kumem

In [ ]:
len([1, 1, 2, 0, 1])

In [ ]:
len({1, 1, 2, 0, 1})

In [ ]:
letters = "a b c d e f g h i j k l m n o p q r s t u v w y z".split()

In [ ]:
letters

In [ ]:
print(set(letters))

In [ ]:
soyle_birsey = {1, "1", 1.0}  # 1 ve 1.0 ayni eleman olarak gorulur.
len(soyle_birsey)

In [ ]:
set1 = {[1,2], 5, 8}  # set'ler icerisine unhashable eleman alamaz.

In [ ]:
set1 = {(1,[1, 2, 3]), 5, 8}

In [ ]:
a = "ali"
set1 = {a, 5, 8}
print(set1)

a = "veli"
print(set1)

In [ ]:
a = "veli"
print(set1)

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

kumemiz = {my_tuple}
len(kumemiz)

In [ ]:
set((1, 2, 3, 4, 5))

In [ ]:
kume_mi = {1, 2, {'ali', 'veli'}}

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Main Operations with Sets</p>

In [ ]:
a = {'carnation', 'orchid', 'rose', 'violet'}

b = {'rose', 'orchid', 'rose', 'violet', 'carnation'}

In [ ]:
a.add('lily')

a

In [ ]:
a.remove('rose')

a

In [ ]:
print(a - b)
print(a.difference(b))

In [ ]:
print(a | b)  # UNION
print(a.union(b))

In [ ]:
print(a & b)  # INTERSECTION
print(a.intersection(b))

In [ ]:
date1 = set('10/26/2022')
date2 = {'10/26/2022'}

print(date1)
print(date2)

In [ ]:
# TASK
given_list = {1, 2, 3, 3, 3, 3, 4, 4, 5, 5}

my_list = list(set(given_list))
my_list

In [ ]:
# TASK
usa_capt = set('Washington')
nz_capt = set('Wellington')

print(usa_capt - nz_capt)
print(nz_capt - usa_capt)
print(usa_capt | nz_capt)
print(usa_capt & nz_capt, "\n")

print(usa_capt.difference(nz_capt))
print(nz_capt.difference(usa_capt))
print(usa_capt.union(nz_capt))
print(usa_capt.intersection(nz_capt))

In [ ]:
k1 = set([1, 2, 3])

k2 = set([1, 3, 5])

k1.difference_update(k2)

print(k1)
print(k2)

In [ ]:
hayvanlar = set(['kedi', 'kopek', 'kus', 'inek', 'deve'])

hayvanlar.discard('kedi')  # eleman siler. ancak o eleman yoksa da HATA VERMEZ.
print(hayvanlar)

hayvanlar.discard('at')
print(hayvanlar)

In [ ]:
hayvanlar.remove('kopek')  # eleman siler. ancak o eleman yoksa da HATA VERIR.
print(hayvanlar)

hayvanlar.remove('at')
print(hayvanlar)

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Conditional Statements - IF Statements</p>

In [ ]:
a = 10
b = 8

if a > b:
    print(f"{a} is greater than {b}.")

In [ ]:
sayilar = [1, 2, 3, 4, 5]

print(sayilar[0])
print(sayilar[1])
print(sayilar[2])
print(sayilar[3])
print(sayilar[4])

In [ ]:
a = 3
b = 0

In [ ]:
if b > a:
    print('Hello!')
    
print('ali')

python
if condition:
    body1
    body2
    body3
outbody

In [ ]:
if "0":
    print('hello world')
    
print('print me in all cases')

In [ ]:
if "0" and "":
    print("hello world")

In [ ]:
if 0 or "False" and None:
    print("hello universe")

In [ ]:
if [""]:
    print("hello")

In [ ]:
len([""])

In [ ]:
minced = True
bread = True

# green
lettuce = True
onion = False

grocer = True

In [ ]:
hamburger = minced and bread and (lettuce or onion) and grocer
hamburger

In [ ]:
if hamburger:
    print("Bon Apetit!")

## Comparison Operators

In [ ]:
if "ali" != "deli":
    print("veli")

In [ ]:
set_A = set("TWELVE PLUS ONE")
set_B = set("ELEVEN PLUS TWO")

if set_A == set_B:
    print("We are the same")
    
print(set_A)
print(set_B)

In [ ]:
convert = input("Enter a word (Yes or No): ").title().strip() == "Yes"

if convert:
    print("You entered True")

## if - else Statements

In [ ]:
x = list(range(1, 10))
x

In [ ]:
a = 7

if a in x:
    print(f"{a} is an element of the list")
else:
    print(f"{a} is NOT an element of the list")

In [ ]:
number = int(input("Enter an integere: "))

if number % 2 == 0:
    print(f"{number} is an EVEN number")
    
else:
    print(f"{number} is an ODD number")

In [ ]:
number2 = float(input("Enter an integere other than zero: "))

if number2 > 0:
    print(f"{number} is a POSITIVE number")
    
else:
    print(f"{number2} is a NEGATIVE number")

In [ ]:
num1 = float(input("Enter a number: "))
num2 = float(input("Enter a different number: "))

In [1]:
num1 = float(input("Enter a number: "))
num2 = float(input("Enter a different number: "))

if num1 > num2:
    print(f"{num1} is greater than {num2}")
else:
    print(f"{num2} is greater than {num1}")

Enter a number: 4
Enter a different number: 6
6.0 is greater than 4.0

In [2]:
num1 = float(input("Enter a number: "))
num2 = float(input("Enter a different number: "))

if num1 > num2:
    larger = num1
else:
    larger = num2
    
print("the larger number is: ", larger)

Enter a number: 5
Enter a different number: 8
the larger number is:  8.0

In [4]:
if True:
    print("Yes")
else:
    print("No")

Yes

In [5]:
bool_value = False
if bool_value:
    print("Yes")
    
else:
    print("No")

No

In [12]:
num1 = float(input("Enter a number: "))
num2 = float(input("Enter a different number: "))
num3 = float(input("Enter a different number: "))

if num1 >= num2 and num1 >= num3:
    largest = num1
elif num2 >= num3:
    largest = num2
else:
    lartgest = num3

print("the largest number is: ", largest)

Enter a number: 4
Enter a different number: 3
Enter a different number: 4
the largest number is:  4.0

In [16]:
number = float(input("Enter a number: "))

if number > 0:
    print(f"{number} is a POSITIVE number")

elif number < 0:
    print(f"{number} is a NEGATIVE number")
else:
    print(f"{number} is ZERO")

Enter a number: -10
-10.0 is a NEGATIVE number

In [19]:
score = float(input("Write your score: "))

if score >= 95:
    print("Your letter grade is A+" )
elif score >= 90:
    print("Your letter grade is A" )
elif score >= 85:
    print("Your letter grade is B+" )
elif score >= 80:
    print("Your letter grade is B" )
else:
    print("Your letter grade is below B" )

Write your score: 78
Your letter grade is below B

In [1]:
# NESTED

score = float(input("Write your score: "))

if score >= 90:
    if score >= 95:
        print("Your letter grade is A+")
    else:
        print("Your letter grade is A")
        
elif score >= 80:
    if score >= 85:
        print("Your letter grade is B+")
    else:
        print("Your letter grade is B")
else:
    print("Your letter grade is below B")

Write your score: 83
Your letter grade is B

In [3]:
number = -5
if number >= 10:
    print("The number is equal or greater than 10")
else:
    print("The number is less than 10")

The number is less than 10

<img src="https://docs.google.com/uc?id=14xeXxFrVRjvOoUYWn_GuyE-v84wVzrqr" class="img-fluid" alt="CLRWY" width="400" height="200">