## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:150%; text-align:center; border-radius:10px 10px;"><br><br>COLLECTION TYPES<br><br>Lists<br><br>Tuples<br><br>Dictionaries</p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Lists [ ]</p>

In [12]:
country = ['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']

print(country)

['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']

In [13]:
print(list("Besiktas"))

['B', 'e', 's', 'i', 'k', 't', 'a', 's']

In [14]:
word = "Clarus"
listed_word = list(word)
print(listed_word)

['C', 'l', 'a', 'r', 'u', 's']

In [15]:
word = "Clarus"
listed_word = [word]
print(listed_word)

['Clarus']

In [16]:
word = "Clarus"

print([word])
print(list(word), "\n")

print(type([word]))
print(type(list(word)))

['Clarus']
['C', 'l', 'a', 'r', 'u', 's']

<class 'list'>
<class 'list'>

In [17]:
warning = 'You must quit smoking!'

print(len(list(warning)))

22

In [18]:
type(len(list(warning)))

int

In [19]:
empty_list_1 = []
empty_list_1.append('114')
print(empty_list_1)

empty_list_1.append('plastic-free sea')
print(empty_list_1)

['114']
['114', 'plastic-free sea']

In [20]:
empty_list_2 = list()
empty_list_2.append('114')
print(empty_list_2)

empty_list_2.append('plastic-free sea')
print(empty_list_2)

['114']
['114', 'plastic-free sea']

In [21]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city.append('Addis Ababa')

print(city)

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [22]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

city.append('Addis Ababa')
print(city)

city.insert(3, 'Abuja')
print(city)

city.remove('Sydney')
print(city)

city.sort()
print(city)

city.reverse()
print(city)

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
['New York', 'London', 'Istanbul', 'Abuja', 'Seoul', 'Sydney', 'Addis Ababa']
['New York', 'London', 'Istanbul', 'Abuja', 'Seoul', 'Addis Ababa']
['Abuja', 'Addis Ababa', 'Istanbul', 'London', 'New York', 'Seoul']
['Seoul', 'New York', 'London', 'Istanbul', 'Addis Ababa', 'Abuja']

In [23]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city[0] = "Abuja"
print(city)

['Abuja', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [24]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
del city[2:4]
print(city)

['New York', 'London', 'Sydney']

In [25]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [26]:
my_list = [1, 3, 5, 7]
print(my_list * 3)

[1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7]

In [27]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])
print(colors[2:5])

blue
['blue', 'yellow', 'green']

In [28]:
city = ['New York', 'London', 'Istanbul']

In [29]:
list = ['apple', 5]
list.append(city)
print(list)

print("Length of list is: ", len(list))

['apple', 5, ['New York', 'London', 'Istanbul']]
Length of list is:  3

In [30]:
list = ['New York', 'London', 'Istanbul', "Abuja"]
print(list[0])
print(list[1])
print(list[2])

New York
London
Istanbul

In [31]:
list = ['New York', 'London', 'Istanbul', "Abuja"]
print(list[2])
print(list[2][1])
print(list[2][0:3])
print(list[2][3])
print(list[3][3:])

Istanbul
s
Ist
a
ja

In [32]:
count = list(range(11))
print(count)

print(count[0:11:2])

TypeError: 'list' object is not callable

In [33]:
count = list(range(12,50,2))
print(count)


print(count[0:11:2])

TypeError: 'list' object is not callable

In [ ]:
count = list(range(90,70,-1))
print(count)


print(count[0:11:2])

In [ ]:
len([[12, 34, 56]][0])

In [ ]:
([[12, 34, 56]][-1])

In [ ]:
my_list = list(range(11))
print(my_list)

In [34]:
print([x ** 2 + 1 for x in my_list if x % 3 == 1])
print([x ** 3 - 2 for x in my_list if x < 3])

[2, 50]
[-1]

In [52]:
my_list2 = list(range(1,11))
print(my_list2)
my_list.sort(reverse=True)
print(my_list2)

TypeError: 'list' object is not callable

In [ ]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]

print(grocer[1][1][1:6:2])

In [ ]:
listem = []

In [ ]:
listem.append(11)

In [ ]:
print(listem)

In [1]:
kardesler = ["ali", "veli", "deli"]

In [2]:
kardesler.append("ayse")

In [3]:
kardesler

['ali', 'veli', 'deli', 'ayse']

In [4]:
kardesler.append(3.14)

In [5]:
kardesler

['ali', 'veli', 'deli', 'ayse', 3.14]

In [6]:
kardesler.pop()

3.14

In [7]:
kardesler

['ali', 'veli', 'deli', 'ayse']

In [8]:
kardesler.pop()

'ayse'

In [9]:
kardesler

['ali', 'veli', 'deli']

In [10]:
kardesler.pop(0)

'ali'

In [11]:
kardesler

['veli', 'deli']

In [49]:
numbers = []
numbers.append(1)
numbers.append(2)
numbers.append(3)
numbers.append(4)

print(numbers)

[1, 2, 3, 4]

In [55]:
numbers.insert(2, 9)

In [56]:
numbers

[1, 2, 9, 3, 4]

In [57]:
integers = [1, 2, 3, 4]

In [58]:
integers.insert(4, 5)

In [59]:
integers

[1, 2, 3, 4, 5]

In [60]:
integers.insert(77, 6)

In [61]:
integers

[1, 2, 3, 4, 5, 6]

In [64]:
integers.pop(5)

6

In [66]:
integers.insert(-1, 7)

In [67]:
integers

[1, 2, 3, 4, 7, 5]

In [70]:
full = "Clarusway"
head = "clarus"
bottom = "way"
print(head + bottom)
print(full[:3] + full[4:])
print(full.replace("r", ""))

clarusway
Clausway
Clausway

In [71]:
numbers = [1, 4, 7, 9]

In [72]:
numbers.remove(7)

In [73]:
numbers

[1, 4, 9]

In [74]:
numbers_2 = [1, 9, 2, 5, 3]

In [75]:
numbers_2.sort()

In [76]:
numbers_2

[1, 2, 3, 5, 9]

In [77]:
numbers_2.sort(reverse=True)

In [78]:
numbers_2

[9, 5, 3, 2, 1]

In [79]:
names = ["ali", "veli", "deli", "ayse"]

In [80]:
names.sort()

In [81]:
names

['ali', 'ayse', 'deli', 'veli']

In [85]:
lst = ["one", "one", "two"]

In [86]:
lst.sort()

In [87]:
lst

['one', 'one', 'two']

In [88]:
karakterler = ["@", "-", "ali", "Ali"]

In [89]:
karakterler.sort()

In [90]:
karakterler

['-', '@', 'Ali', 'ali']

In [91]:
print(ord("@"))
print(ord("-"))
print(ord("A"))
print(ord("a"))

64
45
65
97

In [92]:
listeler = [[3], [44], [-12], [4, 111]]

In [93]:
listeler.sort()

In [94]:
listeler

[[-12], [3], [4, 111], [44]]

In [96]:
print(chr(11))
print(chr(64))
print(chr(99))
print(chr(120))

@
c
x

In [43]:
a = "2020's hard"
b = ["2020's hard"]
print(list(a))
print(b)

['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']
["2020's hard"]

# List - Indexing & Slicing a List

In [2]:
"ali"[2]

'i'

In [3]:
color = ["red", "purple", "blue", "yellow", "green"]
print(color[2])

blue

In [6]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city_list = []
city_list.append(city)

print(city_list)
print(city_list[0])
print(city_list[0][2][3])

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
a

In [7]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

In [8]:
type(city_list[0])

list

In [9]:
benzer_is = [2]
type(benzer_is[0])

int

In [20]:
print(numbers[0::2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [19]:
print(numbers[0::2])

[1, 3, 5, 7, 9]

In [33]:
numbers = list(range(11))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
odd_numbers = list(range(1, 11))
print(odd_numbers)
print(odd_numbers[0::2])  # slicing a list
print(odd_numbers[5])  # indexing a list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
6

In [31]:
sayilar = list(range(0, 20, 4))
print(sayilar)

[0, 4, 8, 12, 16]

In [34]:
print(len([[1, 2, 3]][0]))

3

In [ ]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[:])
print(animals[3:])
print(animals[:5])
print(animals[::2])

In [4]:
my_list = [1, [1, "one", 2, "two", 3, "three"]]
print(my_list[1][1::2])

['one', 'two', 'three']

In [7]:
my_list[1]

[1, 'one', 2, 'two', 3, 'three']

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Tuples</p>

Degistirilemezler. Bu yuzden daha guvenlidirler

Elemanlarina etki yapilabilir

Listeler gore daha hizli. Arka planda calisan cok fazla kod/fonksiyon yok


## Creating a tuple

    ('a', 'b', 'c')      or    tuple('abc')

In [3]:
x = ('a', 'b', 'c')
y = tuple('abc')

print(x)
print(y)

('a', 'b', 'c')
('a', 'b', 'c')

In [5]:
import sys

In [7]:
m = [1, 2, 3]
n = (1, 2, 3)

print(sys.getsizeof(m))
print(sys.getsizeof(n))  # Tuples are faster than lists (they occupy less space)

88
64

In [8]:
my_tuple1 = ("Alps")   # NOT a tuple
my_tuple2 = ("Alps",)
my_tuple3 = ("a", "b", "c")

print(type(my_tuple1))
print(type(my_tuple2))
print(type(my_tuple3))

<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [13]:
list(my_tuple1)

['A', 'l', 'p', 's']

In [14]:
list(my_tuple2)

['Alps']

In [15]:
list(my_tuple3)

['a', 'b', 'c']

In [16]:
my_tuple = (1, 4, 3, 2, 3, 4)
my_list = list(my_tuple)

print(my_list), my_list
print(type(my_list), my_list)

[1, 4, 3, 2, 3, 4]
<class 'list'> [1, 4, 3, 2, 3, 4]

In [17]:
number = tuple(range(1, 11))

print(number, type(number), sep="\n")

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [20]:
a = "ali"
b = "ali",
c = "ali", "deli", "veli"
d = "ali" "deli" "veli"

print()
print(a)
print(b)
print(c)
print(d)

print()
print(type(a))
print(type(b))
print(type(c))
print(type(d))

ali
('ali',)
('ali', 'deli', 'veli')
alideliveli

<class 'str'>
<class 'tuple'>
<class 'tuple'>
<class 'str'>

In [ ]:
a = range(2, 10)
print(a)
print(* a)  #  basina bir * konularak RANGE gorunur hale getirilebilir
print(list(a))

In [29]:
sayilar = tuple(range(1, 11))
sayilar

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [30]:
liste_sayilar = list(sayilar)
liste_sayilar

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
liste_sayilar[2] = 99
liste_sayilar

[1, 2, 99, 4, 5, 6, 7, 8, 9, 10]

In [32]:
liste_sayilar[-1] = "ten"   # "9"un yerine gelmez. append gibi calisir
liste_sayilar

[1, 2, 99, 4, 5, 6, 7, 8, 9, 'ten']

In [33]:
sayilar

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [34]:
sayilar[2] = 33  # 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

**INDEXING a TUPLE and CHANGING THE TUPLE**

It works the sme as lists

In [35]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
mix_tuple[2][2][0]

'six'

In [36]:
mix_tuple[2]

[2, 'two', ('six', 6)]

In [39]:
mix_tuple[2].append("SURPRISE")

In [40]:
mix_tuple[2]

[2, 'two', ('six', 6), 'SURPRISE']

In [41]:
mix_tuple  # Tuple'in elemani indexlenerek "tuple" icinde degisiklik yapildi

('11', 11, [2, 'two', ('six', 6), 'SURPRISE'], (5, 'fair'))

In [42]:
mix_tuple[2][1] = "SEVEN"
mix_tuple

('11', 11, [2, 'SEVEN', ('six', 6), 'SURPRISE'], (5, 'fair'))

In [43]:
# TASK: Print 'fair' from the above tuple using positive/negative indexing:

print(mix_tuple[-1][-1])
print(mix_tuple[3][1])

fair
fair

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Dictionaries</p>

A dictionary in Python is a collection of key-value pairs called items of a dictionary. 

   **Can be created with:**  
    
    {'key1': value1, 'key2': value2, 'key3': value3}  or  
    
    dict(key1 = value1, key2 = value2, key3 = value3)

In [46]:
# First way to create a dict with {}

mix_values_1 = {'animal': ('dog', 'cat'),
                'planet': ['Neptun', 'Saturn', 'Jupiter'],
                'number': 40,
                'pi': 3.14,
                'is_good': True}

# Second way to create a dict with dict() function

mix_values_2 = dict(animal='dog', 
                    planet='neptun', 
                    number=40, 
                    pi=3.14, 
                    is_good=True)

print(mix_values_1)
print(mix_values_2)

{'animal': ('dog', 'cat'), 'planet': ['Neptun', 'Saturn', 'Jupiter'], 'number': 40, 'pi': 3.14, 'is_good': True}
{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [49]:
dict1 = {"ali": 33, "deli": 41, "veli": 45}
dict2 = dict(ali = 33, deli = 41, veli = 45)

print(dict1)
print(dict2)

{'ali': 33, 'deli': 41, 'veli': 45}
{'ali': 33, 'deli': 41, 'veli': 45}

In [50]:
first_dict = {1 : "one", "two" : 2, False : [1, 2, 3], 1.5 : ("one", "two"), (1, 2) : "clarusway"}
first_dict

{1: 'one',
 'two': 2,
 False: [1, 2, 3],
 1.5: ('one', 'two'),
 (1, 2): 'clarusway'}

In [52]:
# "key" can NOT be unhashable type. Should not be something that can be changed. Look at [1, 2]

second_dict = {[1, 2] : "one", "two" : 2, False : [1, 2, 3], 1.5 : ("one", "two"), (1, 2) : "clarusway"}

TypeError: unhashable type: 'list'

In [53]:
sozluk = {"ali" : 2, "ali" : 3, "deli" : 4}  # ali icin verilen ilk degeri kabul eder ama sonra degismis (EN SON) halini verir.
sozluk

{'ali': 3, 'deli': 4}

In [54]:
dict(isim = "ali", isim = "deli")  # Bu formatta repeatition'a izin vermez

SyntaxError: keyword argument repeated: isim (2946282986.py, line 1)

In [55]:
dict(isim = "ali deli veli")

{'isim': 'ali deli veli'}

In [56]:
#TASK 1

family = {"name1" : "Irfan", "name2" : "Gulcan", "name3" : "Vildan"}
family["name4"] = "Sarah"

family

{'name1': 'Irfan', 'name2': 'Gulcan', 'name3': 'Vildan', 'name4': 'Sarah'}

In [57]:
#TASK 2

family2 = dict(name1 = "Irfan", name2 = "Gulcan", name3 = "Vildan")
family2["name4"] = "Sarah"
family2

{'name1': 'Irfan', 'name2': 'Gulcan', 'name3': 'Vildan', 'name4': 'Sarah'}