# Basic Operations with LISTS

In [2]:
a = "2020's hard"
b = ["2020's hard"]
print(list(a))
print(b)

['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']
["2020's hard"]

In [3]:
format(924.656, ".1f")

'924.7'

In [5]:
type(format(924.656, ".1f"))

str

In [7]:
text = "{:>10}".format("test")
text

'      test'

In [8]:
text = "{:<10}".format("test")
text

'test      '

In [9]:
text = "{:>20}".format("test")
text

'                test'

In [12]:
text = "formatlama satiri '{:>20}' <-- burada ilk kelime bitti. \
burada da ikinci kelime basliyor --> '{:<15}'".format("perseverance", "success")
text

"formatlama satiri '        perseverance' <-- burada ilk kelime bitti. burada da ikinci kelime basliyor --> 'success        '"

In [13]:
text = "{:^20}".format("be upright")
text

'     be upright     '

In [14]:
text = "{:^20.6}".format("be upright")
text

'       be upr       '

In [15]:
text = "{:>20.6}".format("1234567890")
text

'              123456'

In [17]:
number = "{:>20.2f}".format(12345.6789)
number

'            12345.68'

In [18]:
list()

[]

# TUPLES

Degistirilemezler. Bu yuzden daha guvenlidirler

Elemanlarina etki yapilabilir

Listeler gore daha hizli. Arka planda calisan cok fazla kod/fonksiyon yok


## Creating a tuple

()

tuple

In [4]:
import sys

In [5]:
x = [1, 2, 3]

y = (1, 2, 3)

In [8]:
print(sys.getsizeof(x))
print(sys.getsizeof(y))

88
64

In [9]:
mountain = tuple("Alps")
print(mountain)

('A', 'l', 'p', 's')

In [6]:
my_tuple1 = ("Alps")
my_tuple2 = ("Alps",)
my_tuple3 = ("a", "b", "c")

print(type(my_tuple1))
print(type(my_tuple2))
print(type(my_tuple3))

<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [16]:
list(my_tuple1)

['A', 'l', 'p', 's']

In [17]:
list(my_tuple2)

['Alps']

In [18]:
list(my_tuple3)

['a', 'b', 'c']

In [5]:
my_tuple = (1, 4, 3, 2, 3, 4)
my_list = list(my_tuple)

print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 2, 3, 4]

In [9]:
my_tuple1 = ("Alps")
my_tuple2 = tuple("Alps")

print(my_tuple1)
print(my_tuple2)

Alps
('A', 'l', 'p', 's')

In [22]:
number = tuple(range(1, 11))

print(number, type(number), sep="\n")

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [26]:
a = "ali"
b = "ali",
c = "ali", "deli", "veli"
d = "ali" "deli" "veli"

print(a)
print(b)
print(c)
print(d)

print(type(a))
print(type(b))
print(type(c))
print(type(d))

ali
('ali',)
('ali', 'deli', 'veli')
alideliveli
<class 'str'>
<class 'tuple'>
<class 'tuple'>
<class 'str'>

In [29]:
a = range(2, 10)
print(a)
print(* a)  #  basina bir * konularak range gorunur hale getirilebilir
print(list(a))

range(2, 10)
2 3 4 5 6 7 8 9
[2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
sayilar = tuple(range(1, 11))

In [31]:
sayilar

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [32]:
liste_sayilar = list(sayilar)

In [33]:
liste_sayilar

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
liste_sayilar[2] = 99

In [39]:
liste_sayilar

[1, 2, 99, 4, 5, 6, 7, 8, 9, 10]

In [40]:
liste_sayilar[-1] = "ten" # "9"un yerine gelmez. append gibi calisir

In [41]:
liste_sayilar

[1, 2, 99, 4, 5, 6, 7, 8, 9, 'ten']

In [42]:
sayilar

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [37]:
sayilar[2] = 33  # 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

INDEXING a TUPLE and CHANGING THE TUPLE

It works the sme as lists

In [48]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
mix_tuple[2][2][0]

'six'

In [49]:
mix_tuple[2]

[2, 'two', ('six', 6)]

In [50]:
mix_tuple[2].append("SURPRISE")

In [51]:
mix_tuple[2]

[2, 'two', ('six', 6), 'SURPRISE']

In [52]:
mix_tuple  # Tuple'in elemani indexlenerek "tuple" icinde degisiklik yapildi

('11', 11, [2, 'two', ('six', 6), 'SURPRISE'], (5, 'fair'))

In [54]:
mix_tuple[2][1] = "seven"

In [55]:
mix_tuple

('11', 11, [2, 'seven', ('six', 6), 'SURPRISE'], (5, 'fair'))

In [57]:
# TASK: Print 'fair' from the above tuple using positive/negative indexing:

print(mix_tuple[-1][-1])
print(mix_tuple[3][1])

fair
fair

# DICTIONARIES
    Can be created with
        {}  or  dict()

In [79]:
# First way to create a dict with {}

mix_values_1 = {'animal': ('dog', 'cat'),
                'planet': ['Neptun', 'Saturn', 'Jupiter'],
                'number': 40,
                'pi': 3.14,
                'is_good': True}

# Second way to create a dict with dict() function

mix_values_2 = dict(animal='dog', 
                    planet='neptun', 
                    number=40, 
                    pi=3.14, 
                    is_good=True)

In [63]:
dict1 = {"ali":33, "deli":41, "veli":45}
dict2 = dict("ali" = 33, "deli" = 41, "veli" =45)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1658952405.py, line 2)

In [59]:
print({"ali":33, "deli":41, "veli":45})

{'ali': 33, 'deli': 41, 'veli': 45}

In [62]:
print(my_dict)

{'ali': 33, 'deli': 41, 'veli': 45}

In [64]:
dict1 = {"ali":33, "deli":41}
dict2 = dict("ali" = 33, "deli" = 41)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2262955300.py, line 2)

In [66]:
first_dict = {1 : "one", "two" : 2, False : [1, 2, 3], 1.5 : ("one", "two"), (1, 2) : "clarusway"}

In [67]:
first_dict

{1: 'one',
 'two': 2,
 False: [1, 2, 3],
 1.5: ('one', 'two'),
 (1, 2): 'clarusway'}

In [68]:
second_dict = {[1, 2] : "one", "two" : 2, False : [1, 2, 3], 1.5 : ("one", "two"), (1, 2) : "clarusway"}

TypeError: unhashable type: 'list'

In [70]:
third_dict = {(1, [2, 3]) : "one", "two" : 2, False : [1, 2, 3], 1.5 : ("one", "two"), (1, 2) : "clarusway"}

TypeError: unhashable type: 'list'

In [72]:
third_dict = {{"two" : 2} : "one", "two" : 2, False : [1, 2, 3], 1.5 : ("one", "two"), (1, 2) : "clarusway"}

TypeError: unhashable type: 'dict'

In [74]:
sozluk = {"ali" : 2, "ali" : 3, "deli" : 4}  # ali icin verilen ilk degeri kabul eder ama sonra degismis (EN SON) halini verir.
sozluk

{'ali': 3, 'deli': 4}

In [75]:
dict(isim = "ali deli veli")

{'isim': 'ali deli veli'}

In [76]:
dict(isim = "ali", isim = "deli")

SyntaxError: keyword argument repeated: isim (2946282986.py, line 1)

In [78]:
{"isim" : "ali", "isim" : "deli"}

{'isim': 'deli'}

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1268609442.py, line 10)

In [81]:
family = {"name1" : "Irfan", "name2" : "Gulcan", "name3" : "Vildan"}

In [83]:
family["name4"] = "Sarah"

In [84]:
family

{'name1': 'Irfan', 'name2': 'Gulcan', 'name3': 'Vildan', 'name4': 'Sarah'}

In [85]:
family2 = dict(name1 = "Irfan", name2 = "Gulcan", name3 = "Vildan")

In [86]:
family2

{'name1': 'Irfan', 'name2': 'Gulcan', 'name3': 'Vildan'}

In [90]:
family2["name4"] = "Sarah"

In [91]:
family2

{'name1': 'Irfan', 'name2': 'Gulcan', 'name3': 'Vildan', 'name4': 'Sarah'}