## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">TIME SENSITIVE INTERVIEW QUESTIONS</p>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("cars1.csv")
df1.sample(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick,NaN,NaN,NaN,NaN,NaN
194,22.5,6,232,90,3085,17.6,76,1,amc hornet,NaN,NaN,NaN,NaN,NaN
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,NaN,NaN,NaN,NaN,NaN
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,NaN,NaN,NaN,NaN,NaN
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit,NaN,NaN,NaN,NaN,NaN

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           198 non-null    float64
 1   cylinders     198 non-null    int64
 2   displacement  198 non-null    int64
 3   horsepower    198 non-null    object
 4   weight        198 non-null    int64
 5   acceleration  198 non-null    float64
 6   model         198 non-null    int64
 7   origin        198 non-null    int64
 8   car           198 non-null    object
 9   Unnamed: 9    0 non-null      float64
 10  Unnamed: 10   0 non-null      float64
 11  Unnamed: 11   0 non-null      float64
 12  Unnamed: 12   0 non-null      float64
 13  Unnamed: 13   0 non-null      float64
dtypes: float64(7), int64(5), object(2)
memory usage: 21.8+ KB

In [3]:
df2 = pd.read_csv("cars2.csv")
df2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

## 1. How many rows in the sales dataset?

In [191]:
df1.shape[0]

237671

## 2. How many columns in the sales dataset?

In [192]:
df1.shape[1]

10

## 3. What is the total number of sellers?

In [197]:
len(df1.seller_id.unique())

114227

In [198]:
df1["date"] = pd.to_datetime(df1["date"])
df2["date"] = pd.to_datetime(df2["date"])

In [199]:
df = pd.merge(df1, df2, how='inner', on=['currency', 'date'])
df

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935
...,...,...,...,...,...,...,...,...,...,...,...
237666,d7dx6f3qv7,RoW,e2p108mu,RoW,nan9a4p10ayk,Tops - Mens,NaN,PLN,4.24,2020-08-04,4.39693
237667,iaf2ck3rj6,IT,gjb1qntq,RoW,lxj477q1hab2,Accessories,NaN,CZK,3923.18,2020-08-04,26.12360
237668,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.41427
237669,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240
237670,wnmihth4io,GB,5yogzc17,RoW,wrgq88ujwh5d,Bottoms - Womens,NaN,NOK,533.06,2020-08-08,10.64540

In [200]:
df['conv'] = df.price / df.rate
df

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,conv
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955
...,...,...,...,...,...,...,...,...,...,...,...,...
237666,d7dx6f3qv7,RoW,e2p108mu,RoW,nan9a4p10ayk,Tops - Mens,NaN,PLN,4.24,2020-08-04,4.39693,0.964309
237667,iaf2ck3rj6,IT,gjb1qntq,RoW,lxj477q1hab2,Accessories,NaN,CZK,3923.18,2020-08-04,26.12360,150.177617
237668,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.41427,119.118223
237669,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240,5.514497
237670,wnmihth4io,GB,5yogzc17,RoW,wrgq88ujwh5d,Bottoms - Womens,NaN,NOK,533.06,2020-08-08,10.64540,50.074210

## 4. What is the total value of sales in EUR?

In [202]:
round(df.conv.sum())

6471511

## 5. Which brand has the highest number of purchases during the period?

In [208]:
df.brand.value_counts()

Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
Filson                   1
Surf Gypsy               1
Chaser                   1
All Things Mochi         1
KTZ                      1
Name: brand, Length: 1134, dtype: int64

## 6. How many items in the “Jewelry” category have no brand associated with them? (10931)

In [219]:
df[(df.category == "Jewellery")].count()

buyer_id          14923
buyer_country     14923
seller_id         14923
seller_country    14923
product_code      14923
category          14923
brand              1398
currency          14923
price             14923
date              14923
rate              14923
conv              14923
dtype: int64

In [221]:
df[(df.category == "Jewellery")]['brand']

12        NaN
13        NaN
14        NaN
17        NaN
18        NaN
         ...
237559    NaN
237603    NaN
237605    NaN
237644    NaN
237668    NaN
Name: brand, Length: 14923, dtype: object

In [223]:
df[(df.category == "Jewellery")]['brand'].isnull().sum()

13525

In [220]:
14923 - 1398

13525

## 7. How many brands have between 35 and 55 transactions (inclusive)?

In [215]:
((df.brand.value_counts() < 56) & (df.brand.value_counts() > 34)).sum()

81

## 8. How many pairs of shoes were purchased by Australian (AU) buyers?

In [216]:
df.category.unique()

array(['Dresses', 'Outerwear - Mens', 'Tops - Womens', 'Bottoms - Womens',
       'Other', 'Accessories', 'Jewellery', 'Home', 'Music', 'Shoes',
       'Tops - Mens', 'Beauty', 'Bottoms - Mens', 'Art', 'Lingerie',
       'Outerwear', 'Tech', 'Sports equipment', 'Books & magazines',
       'Kids', 'Underwear', 'Transportation', 'Film', nan, 'UNSPECIFIED'],
      dtype=object)

In [218]:
df[(df['buyer_country'] == "AU") & (df.category == "Shoes")].count()

buyer_id          658
buyer_country     658
seller_id         658
seller_country    658
product_code      658
category          658
brand              81
currency          658
price             658
date              658
rate              658
conv              658
dtype: int64

In [224]:
len(df[(df['buyer_country'] == "AU") & (df.category == "Shoes")])

658

## 9. Which brand has the highest average transaction value?

In [225]:
(df[(df['brand'] == "Adidas Originals")]['conv'].sum())/(len(df[(df['brand'] == "Adidas Originals")]))

31.563512798788846

In [226]:
(df[(df['brand'] == "Nike")]['conv'].sum())/(len(df[(df['brand'] == "Nike")]))

40.21121817931067

In [227]:
(df[(df['brand'] == "Berghaus")]['conv'].sum())/(len(df[(df['brand'] == "Berghaus")]))

32.083387936321806

In [228]:
(df[(df['brand'] == "Goyard")]['conv'].sum())/(len(df[(df['brand'] == "Goyard")]))

338.92693604836

In [229]:
(df[(df['brand'] == "Urban Outfitters")]['conv'].sum())/(len(df[(df['brand'] == "Urban Outfitters")]))

18.63896254176379

In [235]:
df.groupby("brand")["conv"].mean().sort_values(ascending = False)

brand
Goyard            338.926936
Loewe             334.530369
Craig Green       266.792684
TAG Heuer         224.586782
Emilio Pucci      214.758636
                     ...
Popular Sports      4.452175
Max Factor          4.329298
Bronica             3.329066
360 Cashmere        0.950906
36572               0.950199
Name: conv, Length: 1134, dtype: float64

## 10. What is the total value of items purchased by GB buyers from GB sellers?

In [237]:
df[(df['seller_country'] == "GB") & (df['buyer_country'] == "GB")]['conv'].sum()

3526745.033129233

## 11. What percentage of US sellers' transactions were purchased by US buyers?

In [236]:
a = df[(df['seller_country'] == "US")]['conv'].sum()
b = df[(df['buyer_country'] == "US") & (df['seller_country'] == "US")]['conv'].sum()

b/a

0.9596922067159569